<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freshkeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <!-- RegisterActivity를 추가합니다. -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>

        <!-- 기타 액티비티와 서비스 등을 정의합니다. -->

    </application>

</manifest>
<!-- 아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ무말ㄹㄹㄹㄹㄹ -->
    <!-- 아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ무말ㄹㄹㄹㄹㄹ -->
    <!-- 아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ무말ㄹㄹㄹㄹㄹ -->